

.form-container{
    flex: 2;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: safe;
    align-items: center;
}

.form-container button{
    width: 50%;
    height: 2em;
    text-align: center;   
    border-radius: 5px;
    border: none;
    background-color:#82A8D9;
    color: #fbae49;
    margin-top: 50px;
   
    
}

.form-container button:hover{
    background-color: #446EA6;
    color:  #ffae00;
    transition: 1s;
}